{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<section class="calendar-row">
		<div class="calendar">Lund 15 Janv</div>
		<div class="calendar">Mar 16 Janv</div>
		<div class="calendar">Merc 17 Janv</div>
		<div class="calendar">Jeu 18 Janv</div>
		<div class="calendar-big">Vend 19 Janv</div>
		<div class="calendar">Sam 20 Janv</div>
		<div class="calendar">Dim 21 Janv</div>
	</section>

	<div class="card-fav">
		<img src="{{ asset('build/images/loreal.png') }}"  alt="image du produit">
		<img src="{{ asset('build/images/loreal2.png') }}" alt="image du produit">
		<img src="{{ asset('build/images/loreal3.png') }}" alt="image du produit">
		<img src="{{ asset('build/images/loreal4.png') }}" alt="image du produit">
		<img src="{{ asset('build/images/creme-main.png') }}" alt="image du produit">
		<img src="{{ asset('build/images/creme-nettoyante.png') }}" alt="image du produit">
		<img src="{{ asset('build/images/creme-soin.png') }}" alt="image du produit">
		<img src="{{ asset('build/images/fond-teint.png') }}" alt="image du produit">
		<img src="{{ asset('build/images/mascara.png') }}" alt="image du produit">
		<img src="{{ asset('build/images/matifiant.png') }}" alt="image du produit">
		<img src="{{ asset('build/images/creme2.png') }}" alt="image du produit">
		<img src="{{ asset('build/images/fondation.png') }}" alt="image du produit">
	</div>
{% endblock %}
